body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.header{
    font-family: 'Roboto', sans-serif;
    font-weight: 700; 
}

.header p{
    font-size: 20px;
}

.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.header img {
    max-width: 100px;
    height: auto; 
}

.title-unimed {
    font-family: 'Roboto', sans-serif;
    font-weight: 700; 
    font-size: 36px;
    color: #006633;
}

.title-beneficiary {
    font-family: 'Lora', serif;
    font-weight: 400; /* Normal */
    font-size: 24px;
    color: #FF6600;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 40px;
}

.left, .right {
    width: 45%;
}

.left h2, .right h2 {
    color: #FF6600;
}

.left p, .right form label {
    color: #666666;
}

.register-button, .right button {
    display: inline-block;
    background-color: #006633;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    margin-top: 20px;
}

.register-button:hover, .right button:hover {
    background-color: #004d26;
}

.right form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.right form label {
    margin-top: 10px;
}

.right form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.forgot-password {
    display: block;
    margin-top: 10px;
    color: #FF6600;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

hr{
    border: none; /* Remove a borda padrão */
    height: 2px;  
    background-color: #006633; 
    margin: 20px 0; 
}

/* Responsividade */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: center;
    }

    .left, .right {
        width: 100%;
    }

    .title-unimed {
        font-size: 28px;
    }

    .title-beneficiary {
        font-size: 20px;
    }

    .header p {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .title-unimed {
        font-size: 24px;
    }

    .title-beneficiary {
        font-size: 18px;
    }

    .header p {
        font-size: 16px;
    }

    .register-button, .right button {
        width: 100%;
        padding: 12px 0;
    }

    .container {
        padding: 10px;
    }
}
